<div class="contenedor">
        <span class="cliente">CREAR CLIENTES</span>
        <form class="form-register">
            <h4>Formulario Registro</h4>
            <div class="container">
                <div class="form-column">
                    <div>
                        <label >DNI:</label>
                        <input class="controls" type="number" name="dni" id="dni" placeholder="Ingrese Dni">
                    </div>
                    <div>
                        <label >APELLIDOS:</label>
                        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese Apellidos">
                    </div>
                    <div>
                        <label >NOMBRES:</label>
                        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese Nombres">
                    </div>
                    <div>
                        <label >CORREO:</label>
                        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese Correo">
                    </div>
                    <div>
                        <label >DIRECCIÓN:</label>
                        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese Dirección">
                    </div>
                    <div>
                        <label >TIPO DE NEGOCIO:</label>
                        <input class="controls" type="password" name="correo" id="correo" placeholder="Tipo de Negocio">
                    </div>
                    <div>
                        <label >DIRECCION DE NEGOCIO:</label>
                        <input class="controls" type="number" name="dni" id="dni" placeholder="Direccion de Negocio">
                    </div>
                    </div>
                    
                    <div class="form-column">
                        <div>
                            <label >ESTADO CIVIL:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Estado Civil">
                        </div>
                        <div>
                            <label >NOMBRES:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Ingrese Nombres">
                        </div>
                        <div>
                            <label >SEXO:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Sexo">
                        </div>
                        <div>
                            <label >TELEFONO:</label>
                            <input class="controls" type="number" name="dni" id="dni" placeholder="Telefono">
                        </div>
                        <div>
                            <label >DISTRITO:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Distrito">
                        </div>
                        <div>
                            <label >NOMBRE DE NEGOCIO:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Nombre de Negocio">
                        </div>
                        <div>
                            <label >GRUPO:</label>
                            <input class="controls" type="text" name="dni" id="dni" placeholder="Grupo">
                        </div>
                       
                        </div>
            </div>
           
            <button class="botons" type="submit" >Registrar</button>

        </form>

</div>