<div class="contenedor">
  <span class="cliente">CREAR CLIENTES</span>
  <form class="form-register">
    <h4>Formulario Registro</h4>
    <div class="container" [formGroup]="clientesForm">
      <div class="form-column">
        <div>
          <label>DNI:</label>
          <input
            class="controls"
            formControlName="dni"
            type="number"
            name="dni"
            placeholder="Ingrese Dni"
          />
          <div
            class="mensaje-error"
            *ngIf="
              clientesForm.get('dni')?.hasError('required') &&
              clientesForm.get('dni')?.touched
            "
          >
            <div class="mensaje-error-icon">
              <img src="assets/advertencia.png" alt="advertencia" />
            </div>
            <div>El dni es requerido.</div>
          </div>
        </div>
        <div>
          <label>APELLIDOS:</label>
          <input
            class="controls"
            formControlName="apellidos"
            type="text"
            name="nombres"
            placeholder="Ingrese Apellidos"
          />
          <div
            class="mensaje-error"
            *ngIf="
              clientesForm.get('apellidos')?.hasError('required') &&
              clientesForm.get('apellidos')?.touched
            "
          >
            <div class="mensaje-error-icon">
              <img src="assets/advertencia.png" alt="advertencia" />
            </div>
            <div>Los apellidos es requerido.</div>
          </div>
        </div>
        <div>
          <label>FECHA NACIMIENTO:</label>
          <input
            class="controls"
            type="date"
            formControlName="nacimiento"
          />
        </div>
        <div>
          <label>CORREO:</label>
          <input formControlName="correo"
          class="controls" type="email" placeholder="Ingrese Correo" />
        </div>
        <div>
          <label>DIRECCIÓN:</label>
          <input formControlName="direccion"
          class="controls" type="text" placeholder="Ingrese Dirección" />
        </div>
        <div>
          <label>TIPO DE NEGOCIO:</label>
          <select class="controls" name="sexo">
            <option
              class="option"
              *ngFor="let opcion of negocios"
              [value]="opcion.tipo_negocio"
            >
              {{ opcion.tipo_negocio }}
            </option>
          </select>
        </div>
        <div>
          <label>DIRECCION DE NEGOCIO:</label>
          <input
            class="controls"
            formControlName="direccion_negocio"
            type="text"
            placeholder="Direccion de Negocio"
          />
        </div>
      </div>

      <div class="form-column">
        <div>
          <label>ESTADO CIVIL:</label>
          <input formControlName="estado_civil"
          class="controls" type="number" placeholder="Estado Civil" />
        </div>
        <div>
          <label>NOMBRES:</label>
          <input formControlName="nombres"
          class="controls" type="text" placeholder="Ingrese Nombres" />
        </div>
        <div>
          <label>SEXO:</label>
          <select class="controls" name="sexo">
            <option
              lass="option"
              *ngFor="let opcion of sexo"
              [value]="opcion.nombre"
            >
              {{ opcion.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label>TELEFONO:</label>
          <input formControlName="telefono"
          class="controls" type="number" placeholder="Telefono" />
        </div>
        <div>
          <label>DISTRITO:</label>
          <select class="controls" name="negocio">
            <option
              class="option"
              *ngFor="let opcion of distrito"
              [value]="opcion.nombre"
            >
              {{ opcion.nombre}}
            </option>
          </select>
        </div>
        <div>
          <label>NOMBRE DE NEGOCIO:</label>
          <input formControlName="nombre_negocio"
          class="controls" type="text" placeholder="Nombre de Negocio" />
        </div>
        <div>
          <label>GRUPO:</label>
          <select class="controls" name="negocio">
            <option
              class="option"
              *ngFor="let opcion of grupos"
              [value]="opcion.nombre_grupo"
            >
              {{ opcion.nombre_grupo }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <button class="botons" type="submit">Registrar</button>
  </form>
</div>
