<div class="body">
    <div class="contenedor">
        <mat-spinner *ngIf='loading'class="spiner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <div class="login">
                <img class='img'src="./assets/img/login.png" >
            </div>
            <div class="entrada">
                <div>
                    Usuario:
                </div>
                <div class="ingresar">
                    <input class='inputs' type="text"  #txtUser formControlName="usuario">
                </div> 
            </div>
            <div class="entrada">
                <div>
                    Contraseña:
                </div>
                <div class="ingresar">
                    <input class='inputs' type="password" placeholder="************" #txtPassword formControlName="password">
                </div>
            </div>
            <div class="cuerpo-button" >
                <button type='submit'class="btn" [disabled]="form.invalid">Ingresar</button>
                
            </div>
        </form>
        

    </div>
    
   
</div>
