/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .contenedor{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    background-color: #ffffff;
} */

.mensaje-error {
    margin-top: 0;
    margin-block-end: 5px;
    right: 0;
    color: red;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .mensaje-error-icon,
  .mensaje-error-icon img {
    height: 20px;
    width: 20px;
  }